# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [ ]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [4]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv("/titanic.csv", index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Просмотрите первые 6 строк

In [9]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv("/titanic.csv", delimiter=',')
titanic_df[:6]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

3. Выведите описание данных

In [10]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

4. Сколько мужчин / женщин находилось на борту?

In [12]:
titanic_df.groupby('Sex').count()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,
female,314,314,314,314,261,314,314,314,314,97,312
male,577,577,577,577,453,577,577,577,577,107,577

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [ ]:
pclass = titanic_df['Pclass']
print("Социально-экономический статус:\n", pclass.value_counts())
print("\nСоциально-экономический статус для мужчин:\n", pclass[male].value_counts())
print("\nСоциально-экономический статус для женщин:\n", pclass[female].value_counts())
count = pclass[male].value_counts().loc[2]
print("\nКоличество мужчин в 2 классе:", count)

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [18]:
median = round(titanic_df['Fare'].median(), 2)
std = round(titanic_df['Fare'].std(), 2)
print("Медиана:", median)
print("Среднеквадрати́чное отклонение:", std)

Медиана: 14.45
Среднеквадрати́чное отклонение: 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [19]:
younger = titanic_df[titanic_df['Age'] < 30]
older = titanic_df[titanic_df['Age'] > 60]
ysurvived = round(younger['Survived'].mean(), 2)
osurvived = round(older['Survived'].mean(), 2)
print("Доля выживанания людей моложе 30 лет:", ysurvived)
print("Доля выживания людей старше 60 лет:", osurvived)
print("Люди моложе 30 лет выживали чаще!") if ysurvived > osurvived else print("Данное утверждение неверно")

Доля выживанания людей моложе 30 лет: 0.41
Доля выживания людей старше 60 лет: 0.23
Люди моложе 30 лет выживали чаще!

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [22]:
male = titanic_df[titanic_df['Sex'] == "male"]
female = titanic_df[titanic_df['Sex'] == "female"]
msurvived = round(male['Survived'].mean(), 3)
fsurvived = round(female['Survived'].mean(), 3)
print("Доля выживания мужчин:", msurvived)
print("Доля выживания женщин:", fsurvived)
print("Женщины выживали чаще мужчин!") if fsurvived > msurvived else print("Данное утверждение неверно")

Доля выживания мужчин: 0.189
Доля выживания женщин: 0.742
Женщины выживали чаще мужчин!

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [23]:
name = male['Name'].str.split(" ").str[2]
print(name)
print("\n"f"Наиболее часто встречаемое имя мужского пола - {name.mode().iloc[0]}")

0           Owen
4        William
5          James
6        Timothy
7          Gosta
         ...
883    Frederick
884        Henry
886       Juozas
889         Karl
890      Patrick
Name: Name, Length: 577, dtype: object

Наиболее часто встречаемое имя мужского пола - William



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет
    В среднем женщины 1-го класса старше 40 лет
    Мужчины всех классов в среднем старше женщин того же класса
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [24]:
mean_age = titanic_df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(mean_age)

men_first_class = titanic_df[(titanic_df['Pclass'] == 1) & (titanic_df['Sex'] == 'male')]
women_first_class = titanic_df[(titanic_df['Pclass'] == 1) & (titanic_df['Sex'] == 'female')]

men_second_class = titanic_df[(titanic_df['Pclass'] == 2) & (titanic_df['Sex'] == 'male')]
women_second_class = titanic_df[(titanic_df['Pclass'] == 2) & (titanic_df['Sex'] == 'female')]

men_third_class = titanic_df[(titanic_df['Pclass'] == 3) & (titanic_df['Sex'] == 'male')]
women_third_class = titanic_df[(titanic_df['Pclass'] == 3) & (titanic_df['Sex'] == 'female')]


men_first_class_age = round(men_first_class['Age'].mean(), 2)
women_first_class_age = round(women_first_class['Age'].mean(), 2)

men_second_class_age = round(men_second_class['Age'].mean(), 2)
women_second_class_age = round(women_second_class['Age'].mean(), 2)

men_third_class_age = round(men_third_class['Age'].mean(), 2)
women_third_class_age = round(women_third_class['Age'].mean(), 2)


print("\nАнализ утверждений:")


print("1. В среднем мужчины 1-го класса старше 40 лет:", "Верно!" if men_first_class_age > 40 else "Неверно!")


print("2. В среднем женщины 1-го класса старше 40 лет:", "Верно!" if women_first_class_age > 40 else "Неверно!")


men_older_women = (
    men_first_class_age > women_first_class_age and
    men_second_class_age > women_second_class_age and
    men_third_class_age > women_third_class_age
)

print("3. Мужчины всех классов в среднем старше женщин того же класса:", "Верно!" if men_older_women else "Неверно!")


first_class_older = (men_first_class_age > men_second_class_age > men_third_class_age and
                     women_first_class_age > women_second_class_age > women_third_class_age)
print("4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса:", "Верно!" if first_class_older else "Неверно!")

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

Анализ утверждений:
1. В среднем мужчины 1-го класса старше 40 лет: Верно!
2. В среднем женщины 1-го класса старше 40 лет: Неверно!
3. Мужчины всех классов в среднем старше женщин того же класса: Верно!
4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: Верно!

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [25]:
survived = titanic_df[titanic_df['Survived'] == 1]
dead = titanic_df[titanic_df['Survived'] == 0]
survived_age = round(survived['Age'].mean(), 2)
dead_age = round(dead['Age'].mean(), 2)
print("Возраст спасенных пасажиров:", survived_age)
print("Возраст погибших пасажиров:", dead_age)
print("Средний возраст погибших выше!") if dead_age > survived_age else print("Утверждение неверно")

Возраст спасенных пасажиров: 28.34
Возраст погибших пасажиров: 30.63
Средний возраст погибших выше!

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?